<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Travel App</title>
        <link
            href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="app">
            <header>
                <div>Travel App</div>
            </header>
            <main>
                <section class="input">
                    <label class="dest" for="dest">Travel Destination</label>
                    <input
                        type="text"
                        id="dest"
                        class="dataPoint"
                        placeholder="Where do you wanna go?"
                    />
                    <label class="date" for="date">Travel Date</label>
                    <input type="date" id="datepicker" class="dataPoint" />
                    <button
                        class="btn"
                        id="generate"
                        type="submit"
                        onclick="return Client.performAction(event)"
                    >
                        Generate
                    </button>
                </section>
                <section class="result">
                    <div class="title" id="travelTitle"></div>
                    <div id="entryHolder">
                        <div id="travelDest"></div>
                        <div id="travelDeparture"></div>
                        <div id="travelTemp"></div>
                        <div id="travelTempIcon"></div>
                        <div id="travelPics"></div>
                    </div>
                </section>
            </main>
            <footer>
                <a href="https://pixabay.com/">
                    <img
                        src="https://pixabay.com/static/img/public/leaderboard_b.png"
                        alt="Pixabay"
                    />
                </a>
                <p>Travel App &copy;</p>
            </footer>
        </div>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
