body {
    background: #f23557;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    /* grid-template-columns:  */
    // height: 100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 0.5em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.headline {
    font-size: 42px;
    text-align: center;
    // border: 5px solid black;
}

.dest {
    // border: 5px solid black;
}

.date {
    // border: 5px solid black;
}

.dataPoint {
    border-radius: 0.5em;
}

.btn {
    // border: 5px solid black;
}

.entry {
    background: rgba(59, 74, 107, 0.4);
    // border: 5px solid black;
    width: 400px;
}

.title {
    // font-size: 42px;
    text-align: center;
    // border: 5px solid black;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 400px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 0.5em;
}

button:hover /* Eigenschaften beim Überfahren mit der Maus */
 {
    background-color: #2c3852; /* Neue Farbe */
}

button:active {
    background-color: #2e6630;
    transform: translateY(4px);
}

footer {
    width: 400px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}
